<header>
	<div class="top">
		<% include banner.html %>
		<div class="topcard">
			<div class="user">
			<% if (locals.user) { %>
			<div class="loggedin">
				<a class="user" href="/user/<%= user.profile.profile_slug %>" data-display-box="user" data-display-id="<%= user.id %>"><%= user.display_name %></a><span class="divider">|</span>
				<a href="/logout">Log out</a>
			</div>
			<% } else { %>
			<div class="loggedout">
				<a href="/login">Log in</a><span class="divider">|</span>
				<a href="/register">Register</a>
			</div>
			<% } %>
			</div>
		</div>
	</div>
	<nav class="navigator"></nav>
	<!-- Dialog Include -->
	<% include dialog.html %>
</header>
