body {
    font-family: "Open Sans";
    margin: 0;
}

.top {
    margin: 10px;
    height: 140px;
    position: relative;
}
.banner {
    background: #6db3f2;
    background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
    background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
    height: 100px;
    padding: 20px;
    font-size: 400%;
    font-weight: bold;
    color: #fff;
}
.topcard {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 5px;
}
.topcard a {
    color: #008600;
    text-decoration: none;
    font-weight: bold;
}
.divider {
    opacity: 0;
    margin: 0 5px;
}

.login, .register {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
form label {
    display: block;
    width: 260px;
}
.wrapper {
    margin: 10px;
    padding: 10px;
    background-color: #fdfdfd;
    border: 1px solid #ddd;
}
.section {
    display: inline-block;
    min-width: 200px;
    height: 50px;
    padding: 10px;
}
.section.title a {
    display: block;
}
.section.float {
    float: right;
}
.section.metric {
    text-align: center;
}
.section.read {
    min-width: 20px;
    vertical-align: bottom;
}
.read a {
    color: #9c9c9c;
}
.metric .number {
    display: block;
    font-size: 120%;
}
.blur {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 20;
}
.dialog {
    position: relative;
    width: fit-content;
    min-width: 320px;
    min-height: 200px;
    margin: auto;
    top: 10%;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.dialog .title {
    padding: 10px;
    background-color: #ddd;
}
.dialog .title .close {
    float: right;
    color: #ad0c00;
    cursor: pointer;
}
#dialog-content {
    padding: 10px;
}
.minicard .avatar {
    width: 25px;
    height: 25px;
    padding: 5px;
    float: left;
}
.minicard .topic_title {
    display: block;
    font-size: 80%;
    font-style: italic;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.minicard .topic_user {
    font-size: 70%;
    color: #adadad;
    text-decoration: none;
}
.post {
    min-height: 300px;
    padding-bottom: 5px;
    background-color: #fff;
    padding: 5px;
}
.post .post-content {
    margin-left: 215px;
    border-left: 1px solid #ddd;
    padding: 5px;
    min-height: 220px;
    white-space: normal;
    word-wrap: break-word;
}
.buttons {
    text-align: right;
}
.post .usercard {
    width: 200px;
    float: left;
}
.post .timestamp, .post .ip_address {
    font-size: 80%;
    color: #ccc;
}
.timestamp.edited {
    color: #888;
    font-weight: bold;
}
.post .ip_address {
    float: right;
}
.post .usercard a {
    display: block;
    font-size: 120%;
    color: #009688;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.post .title {
    padding: 10px;
    background-color: #c8eeff;
}
.post .title a {
    color: #007eb7;
    text-decoration: none;
    font-weight: bold;
}
.post .title .index {
    float: right;
    color: #82c8ff;
}
.post .recontent {
    padding: 5px;
}
.user_tag {
    padding: 10px;
    text-align: center;
}
.pagebtn {
    background-color: #f5f5f5;
    min-width: 20px;
    height: 20px;
    display: inline-block;
    padding: 4px 4px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    box-shadow: inset 3px 3px 5px #fff;
}
.page_buttons {
    margin: 5px;
}
.pagebtn.active {
    background-color: #ddd;
    box-shadow: inset 3px 3px 5px #c1c1c1;
}
.button, input[type=submit] {
    padding: 5px 10px;
    display: inline-block;
    box-shadow: inset 3px 3px 5px #fff;
    background-color: #f5f5f5;
    border: 1px solid #dadada;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.button:hover {
    background-color: #f3f3f3;
}
form .button, form input[type=submit] {
    margin: 5px 0;
    display: block;
}
input[type=text], input[type=email], input[type=password] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 110%;
    margin: 5px 0;
    box-shadow: inset 1px 1px 5px #ddd;
}
#composer {
    padding: 5px;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
}
.message {
    padding: 10px;
    background-color: #d3ffd5;
    border: 1px solid #009800;
}
.message.error {
    background-color: #ffc5c5;
    border: 1px solid #c10000;
}
.forums h1 {
    margin-bottom: 0;
}
.forum_nav {
    margin: 10px;
}
.forum_nav .button {
    float: right;
}
.forum_nav .spage {
    position: relative;
    background: #ffffff;
    border: 1px solid #dedede;
    padding: 9px 20px;
    margin-left: -5px;
    color: #00b0ff;
    font-weight: bold;
    text-decoration: none;
}
.forum_nav .spage:after, .forum_nav .spage:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.forum_nav .spage:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #ffffff;
    border-width: 20px;
    margin-top: -20px;
}
.forum_nav .spage:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #dedede;
    border-width: 21px;
    margin-top: -21px;
}
footer {
    margin: 10px;
    padding: 10px;
    background-color: #fdfdfd;
    border: 1px solid #ddd;
}
.udata {
    margin-left: 180px;
}
.udata h2 {
    margin: 0;
}
.udata .username {
    font-size: 80%;
    color: #8a8a8a;
}
.usercard.profile {
    height: 160px;
    padding: 10px;
}
.usercard .imagewrapper {
    width: 160px;
    height: 160px;
    position: relative;
    margin: auto;
    border: 1px solid #ddd;
}
.usercard.profile .imagewrapper {
    margin: 0;
    float: left;
}
.usercard .avatar {
    width: 100%;
    height: 100%;
}
.sidebar.list {
    width: 200px;
    float: left;
}
.tabbutton {
    height: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    border-right: 0;
}
.tabbutton:hover {
    background-color: #f3f3f3;
}
.tabbutton.active {
    background-color: #cecece;
    box-shadow: inset 2px 2px 5px #b5b5b5;
}
.containers {
    margin-left: 200px;
    padding: 10px;
    min-height: 550px;
    border: 1px solid #ddd;
}
.online-status .status {
    padding: 0 5px;
    margin: 5px 0;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.online-status .status.online {
    background-color: #00ce27;
    border: 1px solid #4CAF50;
}
.online-status .status.offline {
    background-color: #bf0d00;
    border: 1px solid #860900;
}
.add {
    color: green;
    opacity: 0.5;
}
